html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

#logo {
    width: 60px;
    border-radius: 50%;
}

.title {
    font-size: 40px;
    position: absolute;
    top: 14px;
}

.menu {
    float: right;
    font-weight: bold;
}

#nav{
    display: inline-block;
    padding: 0px 10px;
}

#menu:link,
#menu:visited {
    color: black;
    text-decoration: none;
}

#menu:hover,
#menu:active {
    color: black;
    text-decoration: underline;
}

.contacts {
    text-align: center;
    display: block;
    position: absolute;
    padding: 10px 0px;
    width: 100%;
    bottom: 0px;
    background-color: #ff9d1c;
    left: 0px;
}

.email {
    font-size: 24px;
}

i.fab {
    font-size: 48px;
    padding: 10px;
}

i.fab:hover {
    font-size: 52px;
}

.social:link,
.social:visited {
    color: black;
    text-decoration: none;
}

#kuva {
    max-width: 37%;
    padding-right: 20px;
}

.esittely {
    max-width: 50%;
    padding: 32px 32px;
    float: left;
}

.contactsT {
    text-align: center;
    display: block;
    position: fixed;
    padding: 10px;
    width: 100%;
    bottom: 0px;
    background-color: #ff9d1c;
    left: 0px;
}

.KO,
.KeKo,
.KA,
.SyKo {
    position: relative;
    display: list-item;
    width: 60%;
    top: -20px;
    float: right;
}

#cal {
    display: inline-block;
    padding: 12px 12px;
}

.tekstit {
    display: inline-block;
    width: 60%;
}

.jasenyys {
    padding: 20px 20px;
    position: relative;
    top: 50px;
}

#merkki {
    position: relative;
    max-width: 30%;
    padding-right: 20px;
    float: right;
    top: -310px;
    border-radius: 50%;
}

.jasenyys2 {
    padding: 20px 20px;
}

#peltikatto {
    max-width: 30%;
    bottom: 0px;
    display: flex;
    position: relative;
    padding-left: 20px;

}

.banner {
    background-color: #ffd900;
    top: 0%;
    left: 0%;
    width: 100%;
    background-size: 100%;
    position: absolute;
}

.aloitus {
    position: relative;
    padding-left: 20px;
    top: 50px;
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    top: 50px;
}

.kaikki {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
}