html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo {
    width: 60px;
    border-radius: 50%;
}

.title {
    font-size: 40px;
    position: absolute;
    top: 14px;
}

.menu {
    float: right;
}

#nav{
    display: inline-block;
    padding: 0px 10px;
}

#menu:link,
#menu:visited {
    color: black;
    text-decoration: none;
}

#menu:hover,
#menu:active {
    color: black;
    text-decoration: underline;
}