html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo {
    width: 60px;
    border-radius: 50%;
}

.title {
    font-size: 40px;
    position: absolute;
    top: 14px;
}

.menu {
    float: right;
    font-weight: bold;
}

#nav{
    display: inline-block;
    padding: 0px 10px;
}

#menu:link,
#menu:visited {
    color: black;
    text-decoration: none;
}

#menu:hover,
#menu:active {
    color: black;
    text-decoration: underline;
}

.contacts {
    text-align: center;
    display: block;
    padding: 10px;
}

.email {
    font-size: 24px;
}

i.fab {
    font-size: 48px;
    padding: 10px;
}

i.fab:hover {
    font-size: 52px;
}

.social:link,
.social:visited {
    color: black;
    text-decoration: none;
}

#kuva {
    width: 40%;
}

.KO,
.KeKo,
.KA,
.SyKo {
    position: relative;
    display: list-item;
    max-width: 40%;
    
}

